.app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

h1 {
  font-size: 10vmin;
  text-align: center;
  background-image: linear-gradient(
    to right,
    #000000 0%,
    #53346d 51%,
    #000000 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  margin-top: 28px;
  color: #fff;
}

h3 {
  padding: 15px;
}

.area-input {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.area-input input {
  width: 100%;
  margin-bottom: 12px;
  height: 46px;
  background-color: #121212;
  border: 0;
  border-radius: 6px;
  color: #fff;
  padding: 0 12px;
  text-align: center;
  font-size: 18px;
}

.area-input button {
  width: 100%;
  height: 46px;
  border: 0;
  border-radius: 6px;
  background-color: #357aff;
  color: #fff;
  font-size: 18px;
}

#altura,
#peso {
  background-image: linear-gradient(
    to right,
    #000000 0%,
    #53346d 51%,
    #000000 100%
  );
}

.buttons {
  display: flex;
  width: 70%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.buttons button {
  margin: 0 10px;
}

input:invalid {
  background-color: rgb(255, 152, 152);
  color: red;
}

label {
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
  padding-bottom: 0.5rem;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #000000 0%,
    #53346d 51%,
    #000000 100%
  );
}
.btn-grad {
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
